<div class="title-container">
  <h1 id="welcomeTitle">Welcome to the Ruber Duck Code Challenge!</h1>
  <a href="https://www.iconfinder.com/icons/416395/bath_bathroom_clean_duck_kids_rubber_water_icon"><img class="rubber-duck" src="../../../assets/rubber_duck.png" /></a>
</div>
<div class="button-container">
  <button mat-raised-button (click)="login()" id="login" class="home-button login-button">Login User</button>
  <button mat-raised-button color="accent" (click)="createUser()" class="home-button">Register User</button>
</div>
<div class="info-parent">
  <div class="info-container">
    <h2>What is this?</h2>
    <p>
      This is a code challenge aimed at making learning fun.
      Register yourself, and join the project <a href="https://rubberduckcc.slack.com">Slack Org</a> to keep up on updates.
      Each week record what you've learned.  Each record has points.
      Every Friday scores will be tallied, and winners will be added to the scoreboard with emojis.
      Winners are encouraged to share a brief writeup of what they worked on in the Slack.
      <a href="https://www.andrewevans.dev/contact">Contact Andrew</a> if you have any questions.
      Check out the <a>docs</a> to learn more.  This project is Open Source on GitHub at the <a href="https://github.com/andrewevans0102/rubber-duck-code-challenge">repo here</a>.
    </p>
  </div>
</div>
